body{
	font-family: 'Lora', serif;
	font-size: 20px;
    background-color: #61122f;
}
.navbar{
	background-color: lightgray;

}

.navbar-header div a{
	text-decoration:none;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	color: #61122f;
}


.navbar-brand a{
	color:black;
}



#nav-list a:hover {
	background: white;

}
#nav-list li{
	text-align: center;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}

#main-section{
	background-color: gray;

}
#Ourmenu{
	margin-bottom: 20px;
	color: yellow;

}
h4{
	color: yellow;
	font-size: 1.5em;
}
#main-section p{
	padding: 15px;
}
@media (max-width: 767px){
	#main-section{
		width: 90%;
	}
}